
// Mixins
@mixin displayflex_centre{
  display: flex;
  align-items: center;
  justify-content: center;
}

// $$$Modules
$lime_green:#C8F560;
$secondary_color:#7862F8;



*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'poppins', sans-serif;
  background-color: #000000;
}

// Navigation Style

header#navigation{
  position: fixed;
  top: 0;
  width: 100%;
  padding-block:10px;
  background: #000000;
    nav{
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
      img{
        margin-left:50px;
        width: 114px;
        height: 19px;
      }
        ul{
          display: flex;
          align-items: center;
          margin-right:50px;
          li{
            list-style: none;
            padding: 10px 20px;
            a{
              color: $lime_green;
              font-size: 20px;
              text-decoration: none;
              font-weight: 600;
              position: relative;

              &::before{
                content: '';
                position: absolute;
                top: 30px;
                left: 50%;
                transform: translateX(-50%);
                background:$lime_green;
                height: 3px;
                width: 0%;
                border-radius: 12px;
                transition: all 300ms ease-in-out;
              }

              &:hover:before{
                width: 100%;
              }
            }
          }
        }     
}

// header "Coding Demo" and lorem
section#Demo{
  height: 50vh;
  @include displayflex_centre();
  flex-direction: column;
    h1{
      color: red;
      font-size: clamp(1rem, 10vw, 10vw);
    }
    p{
      color: white;
      text-align: center;
      margin-inline: 50px;
      font-size: clamp(1rem, 2vw, 2vw);
      min-width: fit-content;
      font-style: italic;
      font-weight: bold;
    }
}

// Buttons
.container{
  height: 50vh;
  @include displayflex_centre();
  flex-direction: column;
  gap: 10px;
    .T{
      color: black;
      background: $lime_green;
      border-radius: 20px;
      border: none;
      font-size: 20px;
      font-weight: 700;
      font-family: Poppins;
      font-style: normal;
      margin-bottom: 10px;
      padding: 5px 40px;
      cursor: pointer;
      transition: all 500ms;

      &:hover{
        background: $secondary_color;
        color: white;
      }
      &:active{
        transform: scale(0.9);
      }
    }
}

section#boxbox{
  height: 50vh;
  @include displayflex_centre();
  h1{
    color: white;
    font-style: italic;
  }
}


































